.todo-item {
  align-items: center;
  box-shadow: 2px 2px 8px grey;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  height: 10rem;
  margin: 1rem auto;
  overflow: hidden;
}

.todo-item img {
  height: 100%;
}

.todo-item .textual-info {
  text-align: center;
}

.controls svg {
  color: grey;
  cursor: pointer;
  margin: auto 1rem;
  transition: all 0.4s;
}

.controls svg:hover {
  color: black;
}
